.btn
  display: inline-block
  padding: ($spacer / 2) $spacer
  text-align: center
  color: inherit
  border-radius: $border-radius

  &-primary
    background-color: $primary-color
    color: $white

  &-secondary
    background-color: $secondary-color

  &-white
    background-color: $white

button.btn
  border: none
  cursor: pointer
